.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: var(--md-primary-fg-color);
}

.md-typeset u {
    text-decoration-style: wavy;
    text-underline-position: under;
    text-decoration-color: var(--md-primary-fg-color);
}

.md-typeset svg.hooks-relationship .node a {
    fill: var(--md-primary-fg-color);
}

.md-typeset svg.hooks-relationship .edge path {
    stroke: var(--md-typeset-color);
}
.md-typeset svg.hooks-relationship .edge polygon {
    stroke: var(--md-typeset-color);
    fill: var(--md-typeset-color);
}

.typst-math > svg {
    overflow: visible;
}
div.typst-math {
    display: flex;
    justify-content: center;
}

/*
    https://v3.tailwindcss.com/docs/screen-readers
    will interrupt the selection, thus unusable
*/
.sr-only {
    position: absolute;
    left: -9999px;
}
